html{box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

*, *::before, *::after {box-sizing:inherit;}


#container, section, header  {
  border: 0.5px solid rgb(174, 222, 229)
}

section {
  /* min-height: 30px; */
  width: 300px;
  transition: 1s;
  overflow: auto
}

.header {
  background-color: rgb(90, 204, 221);
  color: white;
  height: 30px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: lighter;
}

section div p {
  font-size: 10px;
  padding: 10px;
  color: grey;
  margin: 0;
  
}
.content{
  height: 0;
  transition:height 1s;
  /* USE THIS IF USING SLIDEUP-SLIDEDOWN- display: none; */
}

/* Dont use .show if using slideUp/slideDown */
.show{
  height: 125px;
}

.header:hover {
  background: rgb(95, 215, 233);
}

/* Extra */
/* section.show {
  height: 75px;
  width: 300px;
  padding-bottom: 10;
}  */

/* section:nth-child(1)  {
  position: absolute;
  z-index: 2;
  z-index: 1;
}

section:nth-child(2)  {
  position: absolute;
  z-index: 2;
  padding-top: 30px;
}

section:nth-child(3)  {
  position: absolute;
  z-index: 3;
  padding-top: 60px;
} */

/* section:nth-child(3)  {
  min-height: 30px;
  width: 300px;
  transition: 1s; 
  overflow: auto
}

section:nth-child(3).show {
  height: 75px;
  width: 300px;
  padding-bottom: 10;
}  */